---
import Layout from "@layouts/Layout.astro";

const description = "Lo sentimos, no podemos encontrar la página que estás buscando.";
const suggestion = "¿Quieres regresar a la página principal?";
---

<Layout title="Página no encontrada">
    <section class="bg-sky-50 p-8 m-4">
        <div
            class="container min-h-screen px-6 py-12 mx-auto lg:flex lg:items-center lg:gap-12"
        >
            <div class="wf-ull lg:w-1/2">
                <p class="text-sm font-medium text-blue-500">
                    404 error
                </p>
                <h1
                    class="mt-3 text-2xl font-semibold text-gray-800  md:text-3xl"
                >
                    {description}
                </h1>
                <p class="mt-4 text-gray-500 ">
                    {suggestion}
                </p>

                <div class="flex items-center mt-6 gap-x-3">
                    <a
                        href="/"
                        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto  hover:bg-gray-100"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 h-5 rtl:rotate-180"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
                            ></path>
                        </svg>
                        <span>Regresar</span>
                    </a>
                </div>
            </div>

            <div class="relative w-full mt-12 lg:w-1/2 lg:mt-0">
                <img
                    class="w-full max-w-lg lg:mx-auto"
                    src="/404.svg"
                    alt="imagen 404"
                />
            </div>
        </div>
    </section>
</Layout>