---
import Layout from '../layouts/Layout.astro'
import Principal from '../components/Principal.astro'
import Skills from '../components/Skills.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import About from '../components/About.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Education from '../components/Education.astro'
import Title from "../components/TitleSection.astro"

---

<Layout title="JimcostDev by Ronaldo Jiménez | Software Developer">
	<SectionContainer id="principal">
		<Principal/>
	</SectionContainer>
	
	<SectionContainer id="experiencia">
		<Title>Experiencia</Title>
		<Experience server:defer/>
	</SectionContainer>
	
	<SectionContainer id="proyectos">
		<Title>Proyectos</Title>
		<Projects server:defer/>
	</SectionContainer>

	<SectionContainer id="sobre-mi">
		<Title>Sobre mí</Title>
		<About server:defer/>
	</SectionContainer>

	<SectionContainer id="skills">
		<Title>Skills</Title>
		<Skills/>
	</SectionContainer>

	<SectionContainer id="estudios">
		<Title>Estudios</Title>
		<Education />	
	</SectionContainer>

</Layout>


