---
import Layout from '@layouts/Layout.astro'
import MainAbout from '@components/about/Main.astro'
import Skills from '@components/skills/Skills.astro'
import Experience from '@components/experience/Experience.astro'
import Projects from '@components/projects/Projects.astro'
import About from '@components/about/AboutData.astro'
import SectionContainer from '@components/SectionContainer.astro'
import Education from '@components/education/Education.astro'
import Title from "@components/TitleSection.astro"
---

<Layout title="Ronaldo Jiménez">
	<SectionContainer id="principal">
		<MainAbout server:defer/>
	</SectionContainer>
	
	<SectionContainer id="experiencia">
		<Title>Experiencia</Title>
		<Experience server:defer/>
	</SectionContainer>

	<SectionContainer id="estudios">
		<Title>Estudios</Title>
		<Education server:defer/>	
	</SectionContainer>
	
	<SectionContainer id="proyectos">
		<Title>Proyectos</Title>
		<Projects server:defer/>
	</SectionContainer>

	<SectionContainer id="sobre-mi">
		<Title>Sobre mí</Title>
		<About server:defer/>
	</SectionContainer>

	<SectionContainer id="skills">
		<Title>Skills</Title>
		<Skills server:defer/>
	</SectionContainer>
</Layout>


