---
import SocialNetworks from "@components/SocialNetworks.astro";
---

<footer
  class="text-center mb-12 md:mb-4 text-sky-950 py-8 max-w-screen-lg mx-auto"
>
  <div class="flex flex-col items-center pb-16 md:pb-8">

    <!-- Logo con efecto de gradiente -->
    <div class="group relative">
      <div
        class="absolute -inset-1 bg-gradient-to-r from-sky-400 to-sky-600 rounded-full blur opacity-20 group-hover:opacity-30 transition duration-500"
      >
      </div>
      <img
        src="/logo.svg"
        width="96"
        height="96"
        alt="jimcostdev logo"
        class="relative z-10 mb-2 opacity-90 transition-transform duration-300 hover:scale-105 hover:opacity-100"
      />
    </div>
    
     <div class="flex flex-col items-center mt-4">
      <!-- Redes sociales -->
      <SocialNetworks cvUrl="https://cv.jimcostdev.com"/>
    </div>

    <!-- Derechos -->
    <p class="text-sm text-gray-600">
      Hecho con 💙 - © <span class="font-semibold"
        >Ronaldo Jiménez <span
          id="currentYear"
          class="font-semibold bg-gradient-to-r from-sky-500 to-sky-800 bg-clip-text text-transparent"
        ></span></span
      >
    </p>

    

    <!-- Frase motivacional -->
    <blockquote class="text-sm md:text-md italic text-gray-700 px-4 max-w-lg my-4">
      "Ponte un blanco alto y haz fervientes esfuerzos por alcanzarlo y no te
      desanimes" <span class="font-semibold">EGW</span>
    </blockquote>
  </div>
</footer>

<script>
  // Obtener el elemento donde mostrar el año
  const yearElement = document.getElementById("currentYear");

  // Actualizar con el año actual del cliente
  if (yearElement) {
    yearElement.textContent = new Date().getFullYear().toString();
  }
</script>
