---
import SocialButton from './SocialButton.astro';
import MailIcon from '../components/icons/Mail.astro';
import YoutubeIcon from '../components/icons/YouTube.astro';
import GitHubIcon from './icons/GitHub.astro';
import LinkedInIcon from './icons/LinkedIn.astro';
import DocumentIcon from './icons/Doc.astro';
---
<div id="presentacion" class="pt-16 md:pt-24 px-0 relative">
        <div id="img-usuario" class="mb-4 relative mx-auto size-48 md:size-64">
          <img src="/dev.webp" class="w-full h-full object-cover rounded-full" alt="Ronaldo Jiménez">
        </div>

        <h1 class="text-2xl md:text-4xl font-bold px-8 text-center">
          HOLA, SOY <span class="text-primary">RONALDO JIMÉNEZ</span>
        </h1>
        
        <div class="flex flex-col items-center justify-between mt-1 px-8 text-center">
          <h3 class="text-lg md:text-2xl font-semibold mb-2">SOFTWARE DEVELOPER</h3>
          <!-- Redes sociales -->
          <div class="mb-2">
            <SocialButton href="https://www.linkedin.com/in/ronaldo-jimenez">
              <LinkedInIcon class="size-4"/>
               LinkedIn
            </SocialButton>

            <SocialButton href="https://github.com/JimcostDev">
              <GitHubIcon class="size-4"/> 
              GitHub
            </SocialButton>

            <SocialButton href="https://www.youtube.com/@jimcostdev">
              <YoutubeIcon class="size-4"/> 
              YouTube
            </SocialButton>

            <SocialButton href="mailto:jimcostdev@gmail.com">
              <MailIcon class="size-4"/>
              Contáctame
            </SocialButton>

            <SocialButton href="https://cv.jimcostdev.com/">
              <DocumentIcon class="size-4"/>
              Descargar CV
            </SocialButton>
          </div>
</div>
