---
import PythonIcon from './icons/Python.astro';
import TailwindIcon from './icons/Tailwind.astro';
import AstroIcon from './icons/Ast.astro';
import FastAPIIcon from './icons/FastAPI.astro';
import GoIcon from './icons/Go.astro';
import MongoDDIcon from './icons/MongoDB.astro';
import MSSQLIcon from './icons/MSSQL.astro';
import JSIcon from './icons/JS.astro';
import Skill from './PillSkill.astro';
import ReactIcon from './icons/React.astro';
import PostgresIcon from './icons/Postgres.astro';
import DjangoIcon from './icons/Django.astro';
import GitIcon from './icons/Git.astro';
---
    <div class="flex flex-wrap justify-around">
        <Skill>
            <PythonIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Python</span>
        </Skill>

        <Skill>
            <JSIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">JavaScript</span>
        </Skill>

        <Skill>
            <GoIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Go</span>
        </Skill>

        <Skill>
            <FastAPIIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">FastAPI</span>
        </Skill>

        <Skill>
            <DjangoIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Django</span>
        </Skill>

        <Skill>
            <TailwindIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Tailwind</span>
        </Skill>

        <Skill>
            <AstroIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Astro</span>
        </Skill>

        <Skill>
            <ReactIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">React</span>  
        </Skill>

        <Skill>
            <MongoDDIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">MongoDB</span>
        </Skill>

        <Skill>
            <MSSQLIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">SQL Server</span>
        </Skill>

        <Skill>
            <PostgresIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">PostgreSQL</span>
        </Skill>

        <Skill>
            <GitIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Git</span>
        </Skill>
    </div>


