---
import PythonIcon from './icons/Python.astro';
import GoIcon from './icons/Go.astro';
import MongoDDIcon from './icons/MongoDB.astro';
import MSSQLIcon from './icons/MSSQL.astro';
import JSIcon from './icons/JS.astro';
import Skill from './PillSkill.astro';
import PostgresIcon from './icons/Postgres.astro';
---
    <div class="flex flex-wrap justify-around">
        <Skill>
            <PythonIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Python</span>
        </Skill>
        <Skill>
            <GoIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">Go</span>
        </Skill>
        <Skill>
            <JSIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">JavaScript</span>
        </Skill>
        <Skill>
            <MongoDDIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">MongoDB</span>
        </Skill>
        <Skill>
            <PostgresIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">PostgreSQL</span>
        </Skill>
        <Skill>
            <MSSQLIcon class="size-5 md:size-8" slot="icon" />
            <span slot="text">SQL Server</span>
        </Skill>
    </div>


