---
import { cargarDatos } from '@api/loadData';
import type { Experience } from '../../types/Experience';
import ExperienceItem from './ExperienceItem.astro';

// Carga de experiencia laboral
const getExperience: Experience[] = (await cargarDatos<Experience[]>('work_experience')) ?? [];
---

<ol class="relative mt-8">
  {getExperience.map(exp => (
    <li>
      <ExperienceItem {...exp} />
    </li>
  ))}
</ol>